/*Temp*/
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

html{
    height: 100%;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Raleway', serif;
    max-width: 100%;
    font-weight: 500;
    overflow: initial;
    background-image: url('bg-pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
.myContainer{
    min-height: 70vh;
    position: relative;
    padding-bottom: 50px;
}

.myNav{
    max-width: 100%;
    margin: 0 auto;
    background-color:#fff9e4;
}
.flex-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.myFooter{
    clear: both;
    position: relative;
    bottom:0;
    margin-top: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width:100%;
    background-color:#fff9e4;
}

.myForm{
    background-color: rgba(255, 249, 228);
    padding:5%;
    margin:5%;
    border-radius: 20px;
}

.mySlider-main-img-container{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.mySlider-main{
    display: block;
    position: relative;
}
.mySlider-main-img {
    display: inline-block;
    margin: 0 auto;
    width: 12rem;
    height: 12rem;
    border-radius: 25px;
}

.mainCat-img{
    display: inline-block;
    margin: 0 auto;
    width: 26rem;
    height: 27rem;
    border-radius: 25px;

}.subCat-img{
     display: inline-block;
     margin: 0 auto;
     width: 20rem;
     height: 20rem;
     border-radius: 25px;
 }

 .sub-img-student{
     margin: 0 auto;
     width: 50rem;
     height: 30rem;
     border-radius: 25px;

 }

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.nav-logo{
    height:50%;
}
.MainButt {
    color: black;
    background-color: #ffce23;
    font-weight: bold;
}
.telegramBut {
    color: #fff ;
    background-color:#2ba3df;
    font-weight: bold;
}

.instagramBut {
    color: #fff;
    background-color:#dd2a7b ;
    font-weight: bold;
}

.MainButt:hover{
    color:#ffce23;
    background-color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Tabs*/
.tabsContainer{
    font-size: x-large;
    text-align: center;
    margin-left: 30%;
    margin-top: 50px;
}
.tabsContainer-favList{
    font-size: x-large;
    text-align: center;
    margin-left: 40%;
    margin-top: 50px;
}

.myTab{
    float:none;
    display: inline-block
}
.tab-content{
    font-size: large;
}
/*END Tabs*/

/* table */
.myTable{
    align-items: center;
    align-self: center;
    justify-content:center;

}
.myTable-h{
    background-color: #f5ca3d;
    color: #000 ;
}
.myTable-r{
    margin-top:0 ;
    text-align:center;
    background-color: #fff9e4 ;
}
.myTable-img{
    max-height:140px;
}
/* END table */

/* Icons */
.myHeart-deal{
    text-align:center;
    height:30px;
    width:30px;
    size:40px;
    color:#636b6f;
    font-size:30px;
    display: inline-block
}
.myHeart-deal:hover{
    color: #f66f6c;
}
.myHeart-fav{
    font-size:30px;
    color:red;
}
/* end icons */

/*Show popup*/
.myShow-title{
    font-family: 'Luxurious Roman', cursive;
    border-radius: 6px;
    background-color: #ffe362;
}
.myShow-img-container{
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}
.myShow-img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

/* My text */
.myDescription{
    display: block;
    margin-top:0 ;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height:44px;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.myTitle{
    text-align-all: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    height:47px;
    -webkit-box-orient: vertical;
}
.myMerchantName{
    padding:7px;
    border-radius:3px;
    font-size: 20px;
    background-color: rgb(255, 220, 97);
}

.myPrice{
    border-radius:3px;
    padding:5px;
    font-size: 16px;
    background-color: #c4c4cd;
}
.myTitle-search{
    padding:5px;
    border-radius:3px;
    background-color: rgb(255, 220, 97);
    height:60px;
}
.merName{
    color:black;
}
/* END Text */

.myBg-index{
    background-color: rgba(255, 243, 205, 0.89);
    border-radius:10px;
}




